################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output
/.vs
/tools/qemu/fdimage0.bin
